@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
body{
    background-color: white;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
header{
    background-color: LightSteelBlue;
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-item img{
    max-width: 300px;
    max-height: 300px;
}
.header-text{
    color: white;
    padding-right: 100px;
    padding-left: -100px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 50px;
    font-size: 20px;
}
.navbar a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}
.h1{
    color: #4b637a;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.img img{
    max-width: 612px;
    max-height: 612px;
}
.text-col{
    display: flex;
    justify-content: space-between;
}
.cake-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.section-text{
    border: #a5afb8 solid 1px;
    font-size: 20px;
    padding: 40px;
    max-height: 612px;
}
.section-text form{
    margin-bottom: 20px;
}
.text-p{
    font-weight: 700;
}
.text-price{
    font-size: 24px;
    color: white;
    background-color: #a5afb8;
    padding: 20px;
    font-weight: 700;
}
.cake-item{
    display: flex;
    justify-content: space-around;
}
.cake-item button{
    background-color: #4b637a;;
    border-radius: 10px;
    border: none;
    justify-content: start;
    max-width: 200px;
    max-height: 150px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.cake-item button:hover{
    transform: scale(1.3);
    transition-duration: 0.3s;
}
footer{
    background-color: LightSteelBlue;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}
footer a{
    text-decoration: none;
}
footer img{
    max-width: 30px;
    max-height: 30px;
}
.p-mail a{
    text-decoration: none;
    color: white;
}
.p-mail a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}