@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
body{
    background-color: white;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
header{
    background-color: LightSteelBlue;
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-item img{
    max-width: 300px;
    max-height: 300px;
}
.header-text{
    color: white;
    padding-right: 100px;
    padding-left: -100px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 50px;
    font-size: 20px;
}
.navbar a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}
.flowers{
    display: flex;
    justify-content: space-around;
}
.picture{
    display: flex;
    justify-content: space-around;
}
.else{
    display: flex;
    justify-content: space-around;
}
.h1{
    color: #4b637a;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.section-item{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 10px;
}
.section-item:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: #a5afb8;
}
.section-item button{
    background-color: #4b637a;;
    border-radius: 10px;
    border: none;
    justify-content: start;
    max-width: 150px;
    max-height: 80px;
    color: white;
    font-size: 20px;
    margin-right: 30px;
}
.section-item button:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    background-color: white;
    color: #a5afb8;
}
.img{
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    min-width: 200px;
    min-height: 35.2px;
}
.like1, .like2, .like3, .like4, .like5, .like6, .like7, .like8, .like9, .like10, .like11, .like12, .like13, .like14, .like15, .like16, .like17, .like18{
    background-image: url(../img/like1.png);
    background-repeat: no-repeat;
    min-width: 35px;
    min-height: 35px;
}
.like-change{
    background-image: url(../img/like2.png);
    background-repeat: no-repeat;
    min-width: 35px;
    min-height: 35px;
}
footer{
    background-color: LightSteelBlue;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}
footer a{
    text-decoration: none;
}
footer img{
    max-width: 30px;
    max-height: 30px;
}
.p-mail a{
    text-decoration: none;
    color: white;
}
.p-mail a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}