@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
body{
    background-color: white;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
header{
    background-color: LightSteelBlue;
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-item img{
    max-width: 300px;
    max-height: 300px;
}
.header-text{
    color: white;
    padding-right: 100px;
    padding-left: -100px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 50px;
    font-size: 20px;
}
.navbar a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}
.trends{
    display: flex;
    justify-content: space-around;
}
h1{
    color: #4b637a;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.section-item{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 10px;
}
.section-item:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: #a5afb8;
}
.section-item button{
    background-color: #4b637a;;
    border-radius: 10px;
    border: none;
    justify-content: start;
    max-width: 150px;
    max-height: 80px;
    color: white;
    font-size: 20px;
}
.section-item button:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    background-color: white;
    color: #a5afb8;
}
.img{
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
}
.how-it-works{
    background-image: url(../img/bg.png);
    color: white;
    background-position: center;
    font-weight: 700;
    padding: 70px;
    font-size: 20px;
}
ul{
    font-size: 24px;
}
ul a{
    text-decoration: none;
    color: white;
}
ul a:hover{
    color: thistle;
}
.underline{
    text-decoration: underline;
}
.review{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.review img{
    max-width: 150px;
    max-height: 150px;
}
.section-item-review{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 10px;
}
.section-item-review:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: #a5afb8;
}
footer{
    background-color: LightSteelBlue;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}
footer a{
    text-decoration: none;
}
footer img{
    max-width: 30px;
    max-height: 30px;
}
.p-mail a{
    text-decoration: none;
    color: white;
}
.p-mail a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}