@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
body{
    background-color: white;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
header{
    background-color: LightSteelBlue;
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-item img{
    max-width: 300px;
    max-height: 300px;
}
.header-text{
    color: white;
    padding-right: 100px;
    padding-left: -100px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 50px;
    font-size: 20px;
}
.navbar a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}
.h1{
    color: #4b637a;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.section-item-tastes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.section-item-tastes img{
    max-height: 500px;
    max-width: 500px;
}
.section-text:hover{
    transform: scale(1);
    transition-duration: 0.5s;
    background-color: #a5afb8;
    color: white;
}
.section-text-tastes{
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}
footer{
    background-color: LightSteelBlue;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}
footer a{
    text-decoration: none;
}
footer img{
    max-width: 30px;
    max-height: 30px;
}
.p-mail a{
    text-decoration: none;
    color: white;
}
.p-mail a:hover{
    color: steelblue;
    border-bottom: steelblue solid;
}